extends template_layout_app

block scripts
	script(src="#{js_cms_fullhost}js/js_cms_reports.js")

block breadcrumb
	button.btn.btn-success.btn-flat.btn.block&attributes({href:"#",onclick:"filterDate();"})
		i.fa.fa-filter
		| &nbsp;&nbsp;&nbsp; Filter Date
	| &nbsp;&nbsp;&nbsp;
	button.btn.btn-primary.btn-flat.btn.block&attributes({href:"#",onclick:"generateReport();"})
		i.fa.fa-filter
		| &nbsp;&nbsp;&nbsp; Generate Report

block content
	script
		| var fromDate = '#{param.fromDate}';
		| var toDate = '#{param.toDate}';
	+modal("modalFilter","Filter Date")
		.modal-body
			.row
				.col-xs-12
					form&attributes({onsubmit:"confirmSaveFilter(); return false;"})
						.form-group.has-feedback
							label From Date
							br
							input.form-control#fromDate(placeholder="From Date",type="date",value="2017-01-01")
							br
							label To Date
							br
							input.form-control#toDate(placeholder="To Date",type="date")
						button.btn.btn-primary.btn-block.btn-flat&attributes({type:"submit"}) SAVE
	.box.box-success
		.box-header.with-border
			table.display#tableReport&attributes({cellspacing:0,width:"100%"})
				thead
					tr
						th NO
						th ORDER NUMBER
						th TIME CREATED
						th STORE NAME
						th CUSTOMER NAME
						th IS PAID BY BUYER
						th PAYMENT TYPE
						th TIME ORDER CLOSED
						th IS PAID BY TM
						th COMMISSION
		include ./template_view_loading.jade