- var js_cms_fullhost = param_jade.protocol+"://"+param_jade.host+"/";

doctype html
html
	head
		title= title
		include ./template_include_base_header.jade
	body.hold-transition.login-page
		.login-box
			.login-logo
				b #{param_jade.applicationFirst.toUpperCase()}
				| #{param_jade.applicationSecond.toLowerCase()}
			.login-box-body
				if errors
					.box-body
						.alert.alert-danger.alert-dismissible
							button.close(type="button" data-dismiss="alert" aria-hidden="true") x
							h4
								i.icon.fa.fa-ban
								| Alert
							=errors
				if ok
					.box-body
						.alert.alert-success.alert-dismissible
							button.close(type="button" data-dismiss="alert" aria-hidden="true") x
							h4
								i.icon.fa.fa-check
								| Alert
							=ok
				p.login-box-msg Sign in to start your session
				form(method="post")
					.form-group.has-feedback
						input.form-control(type="email" placeholder="Email" name="email" required)
						span.glyphicon.glyphicon-envelope.form-control-feedback
					.form-group.has-feedback
						input.form-control(type="password" placeholder="Password" name="password" required)
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-12
							button.btn.btn-primary.btn-block.btn-flat(type="submit") Sign In
				br
				a(href="#" data-toggle="modal" data-target="#myModal") I forgot my password
		- var modal = {id:"myModal",title:"Password Recovery",close:true,body:'<form action="forgetpassword" method="post"><div class="row"><div class="col-xs-10 col-xs-offset-1"><input class="form-control" type="email" placeholder="Email" id="FPemail" name="FPemail" required></input></div></div><br>',okcustom:'&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">OK</button></form>'};
		include ./template_view_modal.jade
		include ./template_include_base_script.jade
