extends template_layout_app

block scripts
	script(src="#{js_cms_fullhost}js/js_cms_email_pinchange.js")

block content
	.box.box-success
		.box-header.with-border
			h3.box-title Preview
		.box-body
			include template_email_pin_change
	br
	.box.box-success
		.box-header.with-border
			h3.box-title Edit
		.box-body
			textarea#saved(rows="15", style="width: 100%;")= param.saved
			button.btn.btn-primary(style="width: 100%;",onclick="save();") SAVE