- var js_cms_fullhost = param_jade.protocol+"://"+param_jade.host+"/";

doctype html
html
	head
		title= title
		include ./template_include_base_header.jade
	body.hold-transition.login-page
		.login-box
			.login-logo
				b Forget
				| Password
			.login-box-body
				if errors
					.box-body
						.alert.alert-danger.alert-dismissible
							button.close(type="button" data-dismiss="alert" aria-hidden="true") x
							h4
								i.icon.fa.fa-ban
								| Alert
							=errors
				if ok
					.box-body
						.alert.alert-success.alert-dismissible
							button.close(type="button" data-dismiss="alert" aria-hidden="true") x
							h4
								i.icon.fa.fa-check
								| Alert
							=ok
				
				p.login-box-msg Email has been sent to your account. Please fill required parameter.
				form(method="post")
					.form-group.has-feedback
						input.form-control(type="email" placeholder="Email" value="#{email}" disabled required)
						span.glyphicon.glyphicon-envelope.form-control-feedback
						input&attributes({type:"hidden",value:email,name:"email"})
					.form-group.has-feedback
						input.form-control(type="text" placeholder="Authorization Code Received By Email" name="authcode" value="#{authcode}" required)
						span.glyphicon.glyphicon-inbox.form-control-feedback
					.form-group.has-feedback
						input.form-control(type="password" placeholder="New Password" name="password" value="" required)
						span.glyphicon.glyphicon-lock.form-control-feedback
					.form-group.has-feedback
						input.form-control(type="password" placeholder="Confirm New Password" name="confirmpassword" value="" required)
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-12
							button.btn.btn-primary.btn-block.btn-flat(type="submit") Verify
				br
		include ./template_include_base_script.jade
