extends template_layout_app

block scripts
	script(src="#{js_cms_fullhost}js/js_watches.js")

block breadcrumb
	button.btn.btn-primary.btn-flat.btn.block&attributes({href:"#",onclick:"addNewWatch();"})
		i.fa.fa-plus
		| &nbsp;&nbsp;&nbsp; Add Watch
		
block content
	.box.box-success
		.box-header.with-border
			table.display#watches&attributes({cellspacing:0,width:"100%"})
				thead
					tr
						th No
						th ID Manufacturer
						th ID GPS
						th Phone Number
						th Time Create
						th Is Active
						th Action
		include ./template_view_loading.jade
	+modal("modalWatch","-")
		.modal-body
			.row
				.col-xs-12.col-centered
					.box.box-primary
						.box-body
							form&attributes({onsubmit:"confirmSaveData(); return false;"})
								.form-group.has-feedback
									label ID GPS
									br
									input.form-control#id_gps("required")&attributes({name:"id_gps",placeholder:"ID GPS",type:"number"})
									br
									label ID Manufacturer
									br
									input.form-control#id_manufacturer("required")&attributes({name:"id_manufacturer",placeholder:"ID Manufacturer",type:"text"})
									br
									label Phone Number
									input.form-control#phone("required")&attributes({name:"phone",placeholder:"Phone Number",type:"phone"})
									br
									label Is Active
									select.form-control#is_active("required")&attributes({name:"is_active"})
										option&attributes({value:"true"}) TRUE
										option&attributes({value:"false"}) FALSE
								button.btn.btn-primary.btn-block.btn-flat&attributes({type:"submit"}) SAVE
						- id = 'modalSave';
						include ./template_view_loading.jade
	+modal("modalDelete","De-Activate Watch")
		.modal-body
			h3 Are you sure to de-activate this watch?
		.modal-footer
			button.btn.btn-primary.btn-block.btn-flat&attributes({onclick:"confirmDeleteData();"}) OK
	+modal("modalActivate","Activate Watch")
		.modal-body
			h3 Are you sure to activate this watch?
		.modal-footer
			button.btn.btn-primary.btn-block.btn-flat&attributes({onclick:"confirmActivateData();"}) OK