meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
link(rel="stylesheet" media="all" href="#{js_cms_fullhost}bootstrap/css/bootstrap.css")
link(rel="stylesheet" media="all" href="#{js_cms_fullhost}css/cms.css")
block css
