footer.main-footer
	.pull-right.hidden-xs
		b Version 
			| 0.0.1
	strong Copyright © 2017 &nbsp;
		a&attributes({href: "http://tunjukmaterial.com/",target:"_blank"}) TunjukMaterial.&nbsp;
	| All rights reserved.